www.{% raw %}{$DOMAIN_NAME}{% endraw %} {
    redir https://{% raw %}{$DOMAIN_NAME}{% endraw %}
}

{% raw %}{$DOMAIN_NAME}{% endraw %} {
    root /var/www/cloud_engage

    proxy / django:8000 {
    	transparent
		{%- if cookiecutter.use_channels == 'y' %}
		websocket
		{%- endif %}
    	except /static
    	except /media
    }

    tls off
    log stdout
    errors stdout
    gzip
}
