{% if cookiecutter.use_sass_preprocessor == 'y' -%}
// Your variable overrides
$light:#FAFBFC;
$dark:#1C2532;
$black:#000000;
$white:#FFFFFF;
$secondary:#8EACC5;
$info:#A9C7DF;
$warning:#FFC02A;
$danger:#E1112C;
$success:#4FCF3F;
$primary:#0194EF;

$body-bg: $light;
$body-color: $dark;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);
{%- endif %}
