{% raw -%}
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load table_is_filtered from table_helpers %}

{% block content %}
	{% if filter %}

  {% table_is_filtered table request as has_filter %}
	<div class="mb-2">
		<div class="row">
			<div class="col-lg-12">
				<div class="btn-group float-right">
					<button
						id="filter-collapse"
						type="button"
					  data-toggle="collapse"
						data-target="#table-filters"
						aria-expanded="{% if has_filter %}true{% else %}false{% endif %}"
						aria-controls="table-filters"
						class="btn btn-primary">

            <span id="filter-collapse-label">Hide</span>
						<img class="invert" src="{% static 'feather/search.svg' %}"></img>
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div
				id="table-filters"
				class="col-lg-12 collapse {% if has_filter %}show{% endif %}">
			    <form
            id="table-filter-form"
            method="get">

			    	<div class="form-group">
						{% crispy filter.form 'bootstrap4' %}

						<div class="btn-group float-right">
							<button
								type="button"
								id="clear-filters"
								name="clear-filters"
								class="btn btn-info">
								Clear
							</button>
							<button
								type="submit"
								id="filter"
								name="filter"
								class="btn btn-primary">
								Filter
							</button>
						</div>
					</div>
			    </form>
		    </div>
	   </div>
    </div>
	{% endif %}

	{% render_table table 'django_tables2/bootstrap4.html' %}

	<script type="module" src="{% static 'js/table.js' %}"></script>
{% endblock content %}
{%- endraw %}
